.cart {
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

.field {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
}

.field label {
  font-weight: bold;
}

.p-inputtext,
.p-inputtextarea {
  width: 60%;
  padding: 0.5rem;
  border-color: #ff9800;
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
}

.p-button {
  background-color: #ff9800;
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  border: none;
}

.drinks-section,
.cart-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.drinks-item-image,
.cart-item-image {
  flex-shrink: 0;
}

.item-image {
  max-width: 150px;
  height: auto;
}

.drinks-items,
.cart-items {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.drink-item,
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.drink-item-details,
.cart-item-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-name {
  font-size: 16px;
  font-weight: bold;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: medium;
  background-color: rgba(201, 199, 199, 0.208);
  color: rgb(237, 158, 2);
  padding: 0.5 0.8rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.quantity-control button:hover {
  background-color: rgba(201, 199, 199, 0.449);
  transform: scale(1.05);
}

.menu-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.cart-item-image {
  position: relative;
}

.remove-item-button {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: transparent;
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(201, 199, 199, 0.208);
  border-radius: 50%;
}
