.cart {
  padding: var(--section-padding);
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.cart h2 {
  font-size: 2rem;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-section,
.cart-item {
  display: flex;
  flex-direction: row;
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.quantity-control button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  background-color: rgba(201, 199, 199, 0.208);
  color: darkorange;
  padding: 0.5rem;
  margin: 0;
  border: none;
  border-radius: var(--button-border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.quantity-control button:hover {
  background-color: rgba(201, 199, 199, 0.449);
  transform: scale(1.05);
}

.drink-selection {
  margin-top: 20px;
}

.drink-selection label {
  margin-right: 10px;
}

.delivery-form,
.message-form,
.delivery-time-form, /* nou */
.phone-form {
  /* nou */
  margin-top: 20px;
}

.delivery-form input,
.message-form textarea,
.delivery-time-form input, /* nou */
.phone-form input {
  /* nou */
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--primary-color);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
}

.total-price {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
.drink-section {
  display: flex;
  gap: 20px;
}

.drink-image img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

.drink-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drink-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

.quantity-control button {
  width: 30px;
  height: 30px;
}

.drink-total {
  margin-top: 20px;
  font-weight: bold;
}
