/* src/components/AboutUs.css */
.about-us {
  padding: var(--section-padding);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
}

.about-us .container {
  max-width: 800px;
  margin: 0 auto;
}

.about-us h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-us p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}
