.daily-list {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/daily-img.png");
  background-size: cover; /* Covers the container */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center; /* Centers the image */ /* Adds padding for smaller screens */
}

.view-menu-button {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  max-width: 130px;
  max-height: 40px;
  background-color: transparent;
  color: var(--button-color);
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: var(--button-border-radius);
  cursor: var(--button-cursor);
  box-shadow: 0px 4px 6px rgba(169, 166, 166, 0.747);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.262);
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundal transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px; /* Dimensiune maximă */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow-y: auto; /* Permite derularea dacă conținutul depășește înălțimea */
  max-height: 90vh; /* Limitează înălțimea pentru dispozitive mici */
}

.menu-list {
  display: flex;
  flex-direction: column; /* Cardurile sunt afișate unul sub celălalt */
  gap: 15px; /* Spațiere între carduri */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2; /* Deasupra conținutului */
}

.close-button:hover {
  color: rgb(182, 87, 9);
}

/* Responsivitate */
@media (max-width: 768px) {
  .modal-content {
    width: 95%;
    padding: 15px;
  }

  .menu-list {
    gap: 10px; /* Spațiu mai mic între carduri pe ecrane mici */
  }

  .view-menu-button {
    font-size: 16px;
  }
}
