.hero {
  position: relative; /* Allows positioning of child elements */
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 1rem;
  gap: 20px;
  color: var(--text-color);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.hero h1 {
  font-family: David Libre;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  line-height: 75px;
  padding: 0;
  margin: 0;
}

.hero-content p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding: 0;
  margin: 0;
}

.buttons {
  display: flex;
  align-content: flex-start;
  gap: 10px;
}

.image-container {
  position: relative; /* Enable positioning of the vector image */
  display: flex;
  gap: 20px;
}
/* src/components/ImageContainer.css */
.first-image {
  width: 380px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 60px 0;
}

.second-image {
  width: 320px;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 60px 0;
  background-color: var(--text-color);
}

.first-image img,
.second-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.order-button {
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  cursor: var(--button-cursor);
}
.order-button:hover {
  background-color: #e69500; /* Portocaliu puțin mai închis la hover */
}

.menu-button {
  background-color: var(--text-color);
  color: var(--button-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  cursor: var(--button-cursor);
}

.menu-button:hover {
  background-color: rgb(62, 62, 62);
}

.image-container .vector {
  position: absolute;
  z-index: 1; /* Send the vector image behind the other images */
  top: 0;
  left: 0;
  width: 100%; /* Adjust to fit the desired area */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.5; /* Optional: Add transparency for effect */
  pointer-events: none;
}
