/* src/components/Menu.css */

@import "../styles/variables.css";

.menu {
  padding: var(--section-padding);
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for card layout */
  gap: 20px; /* Space between the cards */
  position: relative;
  justify-items: center;
}

.menu-item {
  background: var(--secondary-color);
  display: flex;
  border: 1px solid var(--primary-color);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  width: 100%;
  height: 183px;
}

.image-card {
  background-color: rgb(230, 225, 225);
  width: 33%; /* One-third width for the image */
  height: 100%;
}

.menu-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-container {
  padding: 10px;
  width: 67%; /* Two-thirds width for the text */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-container h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 1%;
  margin-bottom: 10px;
  margin: 0;
}

.text-container p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1%;
  margin-bottom: 15px;
  margin: 0;
}

.orange-line {
  width: 70%;
  border: none;
  height: 2px;
  background-color: orange;
  margin: 10px 0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-btn {
  background-color: orange;
  color: white;
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  cursor: var(--button-cursor);
}

.order-btn:hover {
  background-color: #e69500;
}

.price {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;
}

.vertical-border {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: orange;
}

@media (max-width: 768px) {
  .menu-container {
    grid-template-columns: 1fr; /* Stack the cards on smaller screens */
  }
}
