@import "../styles/variables.css";

.header {
  padding: 1rem 0;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.site-name {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.nav-logo {
  margin-right: 10px;
}

.nav-logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.book-table-button {
  max-width: 120px;
  max-height: 40px;
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  font-size: 16px;
  cursor: var(--button-cursor);
  transition: background-color 0.3s ease;
}

.book-table-button:hover {
  background-color: darkorange;
  transform: scale(1.05);
}

/* Responsive Styling */
@media (max-width: 1024px) {
  /* Tablet Screens */
  .container {
    flex-wrap: wrap; /* Wrap elements */
    justify-content: center; /* Center elements on smaller screens */
    text-align: center;
  }

  .site-name {
    margin-bottom: 1rem; /* Add spacing below logo and site name */
  }

  .nav-list {
    gap: 0.8rem; /* Adjust spacing between links */
  }

  .nav-list li a {
    font-size: 14px; /* Slightly smaller font for tablets */
  }

  .book-table-button {
    padding: 8px 16px;
    font-size: 14px; /* Adjust button size for tablets */
  }
}

@media (max-width: 768px) {
  /* Mobile Screens */
  .container {
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    gap: 1rem;
  }

  .nav-logo img {
    width: 60px; /* Smaller logo size */
    height: 60px;
  }

  .nav-list {
    flex-direction: column; /* Stack navigation links */
    gap: 0.5rem;
  }

  .nav-list li a {
    font-size: 14px; /* Adjust font size */
  }

  .book-table-button {
    width: 100%; /* Full width for smaller screens */
    font-size: 14px;
    padding: 10px;
  }
}
