/* src/components/Header.css */

@import "../styles/variables.css";

.header {
  padding: 1rem 0;
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.site-name {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-list li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.book-table-button {
  background-color: var(--button-background-color);
  color: var(--button-color);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  box-shadow: var(--button-box-shadow);
  cursor: var(--button-cursor);
}

.book-table-button:hover {
  background-color: #e69500; /* Portocaliu puțin mai închis la hover */
}
