/* src/components/Testimonial.css */

@import "../styles/variables.css";

.testimonial {
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: var(--border-radius);
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  text-align: center;
}
