/* src/components/TestimonialsList.css */

@import "../styles/variables.css";

.testimonials-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: var(--section-padding);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.testimonial h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.testimonial p {
  margin-bottom: 0.5rem;
}
