.top-dishes {
  padding: var(--section-padding);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
}

.dishes-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.swiper-container {
  width: 100%;
}

.dish-card {
  width: 298px;
  height: 298px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

.dish-image {
  width: 100%;
  height: auto;
  display: block;
}
picture {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
}

.overlay h3 {
  margin: 0;
  font-size: 18px;
  padding: 0;
}

.overlay-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 10px 0;
}

.overlay .price {
  font-weight: bold;
}

.swiper-container {
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: darkorange;
  cursor: pointer;
}

.swiper-button-next {
  right: -30px;
}

.swiper-button-prev {
  left: -30px;
}

.swiper-pagination {
  position: relative;
  bottom: -20px;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background-color: orange !important;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: darkorange !important;
  opacity: 1;
}

/* Media Queries */

/* For tablets and medium screens (768px - 1024px) */
@media (max-width: 1024px) {
  .dishes-container {
    gap: 15px; /* Reduce spacing between cards */
  }

  .dish-card {
    width: 298px; /* Maintain original size */
    height: 298px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 30px;
    right: -20px;
    left: -20px;
  }
}

/* For small screens (480px - 768px) */
@media (max-width: 768px) {
  .dishes-container {
    gap: 10px; /* Further reduce spacing */
  }

  .dish-card {
    width: 208px; /* Maintain original size */
    height: 208px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 25px;
    right: -15px;
    left: -15px;
  }
}

/* For extra small screens (max-width: 480px) */
@media (max-width: 480px) {
  .dishes-container {
    gap: 5px; /* Minimal spacing for small screens */
  }

  .dish-card {
    width: 128px; /* Maintain original size */
    height: 128px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    font-size: 20px;
    right: -10px;
    left: -10px;
  }
}
